/presentation/TEX/*.aux
/presentation/TEX/*.bbl
/presentation/TEX/*.blg
/presentation/TEX/*.log
/presentation/TEX/*.out
/presentation/TEX/*.toc
/presentation/TEX/*.synctex.gz
/presentation/TEX/*.fls
/presentation/TEX/*.fdb_latexmkh
/presentation/TEX/*.pdf


/presentation/slides/*.aux
/presentation/slides/*.bbl
/presentation/slides/*.blg
/presentation/slides/*.log
/presentation/slides/*.out
/presentation/slides/*.toc
/presentation/slides/*.synctex.gz
/presentation/slides/*.fls
/presentation/slides/*.fdb_latexmkh
/presentation/slides/*.pdf
/presentation/slides/*.nav
/presentation/slides/*.snm
/presentation/slides/*.bcf
/presentation/slides/*.xml
/presentation/slides/*.vrb
/presentation/slides/*.vrb

/media
/slides
/presentation_assets