/presentation/TEX/*.aux
/presentation/TEX/*.bbl
/presentation/TEX/*.blg
/presentation/TEX/*.log
/presentation/TEX/*.out
/presentation/TEX/*.toc
/presentation/TEX/*.synctex.gz
/presentation/TEX/*.fls
/presentation/TEX/*.fdb_latexmkh
/presentation/TEX/*.pdf

/media
/slides
/presentation_assets